<h1>Are you sure???</h1>
<form action="/celebrity/delete?celebrity_id={{celebrity._id}}" method="post">
    <button type="submit" class="edit-button" style="background-color: red">DELETE</button>
</form>